@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
/* Column */
.leftColumn {
    width: 250px;
    background-color: rgb(221, 221, 221);
    float: left;
    height: 100vh;
}

/* Table */
.workSpace {
    width: 75%;
    height: 100vh;
    float: left;
    table-layout: fixed;
    background-image: url('../resources/POS_Images/BckGround01.png');
}

.workSpace td {
    width: 80px;
    height: 80px;
    border: 1px;
    border-radius: 1px;
    border-color: antiquewhite;
    text-align: center;
}

/* Button Types */

#number{
    background-color: #FFF;
    color: #000;
}

#menu {
    background-color: darkblue;
    color: #FFF;
}

#item{
    background-color: red;
    color: #FFF;
}

#sizeModifier{
    background-color: goldenrod;
    color: black;
}
#drinkItem{
    background-color: blue;
    color: white;
}
#drinkLSM{
    background-color: purple;
    color: white;   
}
#subMenu{
    background-color: aqua;
    color: black;
}
#cashMenu{
    background-color: lightgreen;
    color: black;
}
#optionFunction{
    background-color: lightgray;
    color: black;
}